<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>蚂蚁窝</title>
		<meta name="keywords" content="关键词,关键词">
		<meta name="description" content="">

		<!--css,js-->
		<link type="text/css" rel="stylesheet" href="__STATIC__/css/base.css?version=1.0">
		<link type="text/css" rel="stylesheet" href="__CSS__/main.css?version=1.0">

		<script type="text/javascript" src="__STATIC__/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="__STATIC__/js/mayi.js"></script>
		<script type="text/javascript" src="__STATIC__/js/jquery.SuperSlide.2.1.1.js"></script><!--滑动插件-->
	</head>
<body>

<div class="docwrapper">
	<div class="docheader">
		<div class="header-body">
			<div class="header-logo">
				<div class="logo-box">
					<div class="logo">
						<a href="#">
							<img src="__IMG__/mayilogo.png"/>
						</a>
					</div>
				</div>
			</div>
			<div class="header-nav">
				<div class="nav-body">
					<ul>
						<li class="ctgy active"><a href="#">首页</a></li>
						<li><a href="#">爆款女装</a></li>
						<li><a href="#">正品美妆</a></li>
						<li><a href="#">大牌鞋包</a></li>
						<li><a href="#">母婴特卖</a></li>
						<li><a href="#">九块九</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>

	<div class="doccontainer">
		<div class="container-wrap">
			
			<block name="container-header"><!-- container-header区(banner) -->
				
			</block>
			
			<block name="container-body"><!-- container-body区 -->
				<div class="container-body">
					<div class="container-main">
						<block name="main-products">
							<!-- 主要产品区：子模板继承后替代 -->
						</block>
					</div>
				</div>		
			</block>

		</div>
	</div>
	<div class="clear"></div>


	<div class="docfooter">
		<div class="footer-box">
			<div class="footer-link">
				<a target="_blank" href="#">关于我们</a>
				<a target="_blank" href="#">联系我们</a>
				<a target="_blank" href="#">加入我们</a>
			</div>
		
		</div>
	</div>

</div>

</body>
</html>

