@CHARSET "UTF-8";

#sites{
	float:right;
	width:708px;
	height:1046px;
	margin-top:10px;
	border: 1px solid #f2f2f2;
}
#sites ul{
	display:block;
	width:100%;
	height:30px;
	line-height: 30px;
	text-align: center;
	font-size:14px;
}
#sites ul:hover{
	background:#f5f9ff;
}
#sites ul li{
	display:block;
	float:left;
	margin:0 2px;
}
#sites ul li a.city{
	display:block;
	width:45px;
	padding:0 2px;
	text-align: center;
	font-weight:600;
	color:#096cb2;
}
#sites ul li a.city:hover{
	color:#f00;
}
#sites ul li a.blog-sites{
	display:block;
	width:110px;/*设置宽度*/
	white-space:nowrap;/*设置不折行*/
	text-overflow:ellipsis;/*这就是省略号喽*/
	-o-text-overflow:ellipsis;/*兼容opera*/
	overflow: hidden;/*设置超过的隐藏*/
	padding:0 4px;
	cursor: pointer;	
}
#sites ul li a.more{
	display:block;
	width:20px;
	padding:0 4px;
	text-align: center;
	font-weight:600;
	color:#096cb2;
}







